<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tencent Face Id Demo</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
  <div class="jumbot ron">
    <h1>==人脸核身回调页面==</h1>
    <p><a href="https://cloud.tencent.com/document/product/1007/31082">错误码</a></p>
    <ul>
      <li th:each="entry: ${queryParams}">
        <div><span th:text="${entry.key}"></span>: <span th:text="${entry.value}"></span></div>
      </li>
    </ul>

    <button class="btn btn-primary" type="button" onclick="verify()">验证签名</button>
    <div>
      <img width="200px" src="http://via.placeholder.com/200x150.png" alt="Photo"/>
    </div>
    <div>
      <video width="200px" autoplay controls src="">
        The “video” tag is not supported by your browser.
      </video>
    </div>
    <pre id="verify"></pre>
  </div>
</div>

<script src="/js/jquery-3.4.1.min.js" th:href="@{/js/jquery-3.4.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<script src="/js/faceid.js" th:href="@{/js/faceid.js}"></script>
</body>
</html>
